<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movieland</title>
    </head>
    <body>
        <h1>Bienvenue sur Movieland</h1>

        <h2>Nombre de films</h2>
        <p>
            {{ countMovies }} films
        </p>
    </body>
</html>
