{% extends 'base.html.twig' %}

{# Commentaire #}

{% block title %}
    Accueil | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Bienvenue sur Movieland</h1>

    <h2>Nombre de films</h2>
    <p>
        {{ countMovies }} films
    </p>
{% endblock %}
