<header>
    <span>Movieland</span>

    <nav>
        <ul>
            <li>
                <a href="{{ path('main_index') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('main_about') }}">A propos</a>
            </li>
            <li>
                <a href="{{ path('movie_list') }}">Liste de films</a>
            </li>
            <li>
                <a href="{{ path('movie_new') }}">Créer un film</a>
            </li>
        </ul>
    </nav>
</header>
